.App {
  /* text-align: center; */
  padding-top: 30px;
  /* color: white; */
  /* font-size: large; */
}

.content {
  display: flex;
}

/* .main-content {
  display: flex;
  flex-direction: column; 
} */

/* .left-section {
  width: 20%;
} */

/* .right-section {
  width: 80%;
} */
