.App {
  /* text-align: center; */
  background-color: rgb(39, 39, 51);
  /* color: white; */
  /* font-size: large; */
}

/* .main-content {
  display: flex;
  flex-direction: column; 
} */

/* .left-section {
  width: 20%;
} */

/* .right-section {
  width: 80%;
} */
