<!DOCTYPE html>
<head>
  <title>Chat Room</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Chat Room: {{ roomName }} </h1>
  <div id="chat-container">
    <div id="chat-window">
      <div id="output"></div>
      <div id="feedback"></div>
    </div>
    <input id="message" type="text" placeholder="Enter message">
    <button id="send" onclick="sendMessage()">Send</button>
  </div>
  {{!-- <p>This is a demo of chatroom page</p>
  <p>
      The room you are visiting is {{ roomName }}
  </p>
  <p>To generate a new room, here is the room id: {{ newRoomId }}</p> --}}
</body>
</html>
