/* Feel free to edit CSS of body if you'd like. We provide you the light gray background color and font family in the body styling */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  background-color: #e6ecf0;
}

/* TODO: Create CSS for your Twitter Mockup */
#header {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1190px;
  margin: 56px auto;
}

.sections {
  color: rgb(88, 88, 88);
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  margin-right: 20%;
  margin-left: 15%;
}

.sections:hover {
  color:rgb(76, 150, 220);
  text-decoration: underline;
}

#twitter-logo {
  max-width: 30px;
}

#tweet-button {
  background-color: rgb(62, 194, 255);
  border-color: rgb(62, 194, 255);
  border-width: 3px;
  border: solid;
  border-radius: 15px;
  padding: 5px 20px 5px 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 15px;
  margin-left: 25%;
}

#tweet-button:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  /* justify-content: space-between; */
}

.profile {
  width: 290px;
  /* background-color: rgb(141, 112, 220); */
}

.tweets {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2px;
  background-color: white;
}

.tweet {
  display: flex;
  border-bottom: 1px solid #e6ecf0;
  min-height: 51px;
}

.profile-name-spacing {
  display: flex;
  margin-bottom: 10px;
  margin-top: 15px;
}

.profile-name {
  font-weight: bold;
  margin-right: 5px;
  margin-left: 5px;
}

.who-to-follow-name {
  font-weight: bold;
  margin-right: 5px;
  margin-left: 5px;
}

.tweet-spacing {
  margin-bottom: 15px;
  margin-left: 5px;
}

.username {
  color: rgb(111, 111, 111);
  font-size: 15px;
}

.banner {
  /* z-index: 50; */
  /* position: relative; */
}

.banner img {
  width: 100%;
  height: auto;
}

.profile-img-container {
  z-index: 2;
  position: absolute;
}

.profile-info-username {
  color: #657786;
  font-size: 15px;
  margin-left: 5px;
}

.profile-info-name {
  font-size: 15px;
  font-weight: bold;
}

.profile-info span {
  display: block;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profile-info > div {
  text-align: center;
  width: 100px; 
}

.profile-img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-left: 10px;
  margin-top: 15px;
}

.tweet-follow-following {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet-follow-following > div {
  text-align: center;
  width: 100px; 
}

.tweet-follow-following span {
  display: block;
}

.label {
  color: black;
  margin-bottom: 10px;
}

.number {
  color: #1da0f2;; 
}

.tweet-follow-following .tweet-count span,
.tweet-follow-following .following-count span,
.tweet-follow-following .followers-count span {
  text-align: left; 
  margin-left: 0; 
  font-weight: bold;
}

/* .who-to-follow-profile-img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-left: 10px;
  margin-top: 20px;
} */

.who-to-follow-pfp {
  width: 49px;
  height: 49px;
  border-radius: 50px;
  margin-right: 10px;
}

.who-to-follow-user {
  font-size: 15px;
  font-weight: bold;
}

.who-to-follow-username {
  color: #657786;
  font-size: 15px;
  /* margin-left: 3px; */
}

.who-to-follow-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.who-to-follow {
  display: flex;
  flex-direction: column;
  width: 290px;
  background-color: rgb(255, 255, 255);
  height: 225px;
}

.who-to-follow-block {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6ecf0;
}

.who-to-follow-head-block {
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.who-to-follow-button {
  border: 1px solid #4AB3F4;
  color: #1da0f2;
  font-size: 15px;
  font-weight: bold;
  border-radius: 15px;
  padding: 5px 20px 5px 20px;
  width: 60px;
  height: 20px;
  text-align: center;
  margin-top: 10px;
}

.who-to-follow-heading {
  font-size: 19px;
  font-weight: bold;
  color: #14171a;
}

.suggestions {
  font-size: 18px;
  margin-left: 8px;
}

.suggested-profiles {
  display: flex;
  /* background-color: rgb(253, 197, 197); */
  border-bottom: 1px solid #e6ecf0;
}

.container {
  display: flex;
  flex-direction: column;
}

.follow-button {
  /* border: solid;
  border-width: 2px;
  border-color: rgb(62, 194, 255);
  border-radius: 15px;
  padding: 5px 20px 5px 20px;
  color: rgb(62, 194, 255); 
  font-weight: bold;
  font-size: 15px;
  margin-left: 25%; 
  display: flex;
  margin-left: 0;
  margin-right: 40px;  */

  border: 1px solid #4AB3F4;
  color: #1da0f2;
  font-size: 15px;
  font-weight: bold;
  border-radius: 15px;
  padding: 5px 20px 5px 20px;
  width: 60px;
  height: 20px;
  text-align: center;
  margin-top: 10px;
}
