/* Feel free to edit CSS of body if you'd like. We provide you the light gray background color and font family in the body styling */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  background-color: #e6ecf0;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: white;
  padding: 10px 20px;
}

.header ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a{
  color: black;
  text-decoration: none;
  padding: 10px;
}

.header a:hover{
  color: blue;
  text-underline-offset: auto;
}

.header li{
  margin-right: 20px;
}

.twitter-icon {
  flex: 1; 
  text-align: center; 
}

.twitter-icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.follow-rec-header {
  display: flex;
  flex-wrap: wrap;
}

.main-content{
  display: flex;

  width: 90;
  justify-content: center;

  max-width: 1198px;
  margin: 56px auto;
}

.profile {
  background-color: white;
  width: 298px;
}

.tweet-content {
  background-color: white;
  border-bottom: 1px solid #e6ecf0;
  min-height: 51px;

}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1da1f2;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

/* TODO: Create CSS for your Twitter Mockup */
