/* Feel free to edit CSS of body if you'd like. We provide you the light gray background color and font family in the body styling */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  background-color: #e6ecf0;
}

/* TODO: Create CSS for your Twitter Mockup */
#header {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
}

.wrapper {
  max-width: 1190px;
  margin: 56px auto;
}

.sections {
  color: rgb(88, 88, 88);
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  margin-right: 20%;
  margin-left: 15%;
}

.sections:hover {
  color:rgb(76, 150, 220);
  text-decoration: underline;
}

#twitter-logo {
  max-width: 30px;
}

#tweet-button {
  background-color: rgb(62, 194, 255);
  border-color: rgb(62, 194, 255);
  border-width: 3px;
  border: solid;
  border-radius: 15px;
  padding: 5px 20px 5px 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 15px;
  margin-left: 25%;
}

#nav {
  display: flex;
  justify-content: space-between;
}
