.sidebar {
  background-color: gray;
  display: flex;
  width: 210px;
  height: 350px;
  border-radius: 10px;
  padding-bottom: 30px;
  margin-left: 40px;
  margin-top: 90px;
  margin-right: 40px;
}

.input-and-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 30px;
}

.input {
  width: 140px;
  /* margin-left: 45px;
  margin-top: 30px; */
  margin-bottom: 15px;
}

.button {
  /* width: 60px;
  margin-left: 85px; */
  /* margin-right: auto; */
}

.options-group {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.filterTitle {
  font-weight: bold;
  margin-left: 15px;
}
